#list {
    margin-top: 16px;
   
    table {
        border-collapse: collapse;

        width: 100%;
       
        th, td {
            border-bottom: 1px solid #ccc;
            &:nth-child(1) {
                width: 1%;
            }

            &:nth-child(2) {
 
            }

            &:nth-child(3) {
                width: 30%;
            }


        }   

        thead {
            font-weight: 700;
            td {
                padding: 1rem;
            }
        }
        
        tbody {
            tr {
                td {
                    
                    padding: 0 1rem;
                    
                    &:last-child {

                        div {
                            display: flex;
                            justify-content: space-between;
                            button {
                                border: none;
                                // background-color: transparent;
                            }
                        }
            
                    }
                    
                }
            }
        }
    }
}