.box {
    .wrapper {
        width: 100%;
        max-width: px2rem(1024);
        margin: 0 auto;
    }

    .title {
        font-size: $base_fontsize;
        line-height: 1.2;
        color: $base_color;
    }

    .btn {
        @include button(360px, 5px 0, 5px, #333 , #333, #fff);
        
    }

    
}

.blackbox {
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px solid #000;

    .box {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: #000;
        transition-duration: 2000ms;
    }

    &:hover {
        .box {
            width: 200px;
            height: 200px;
            left: 50%;
            background-color: red;
        }
    }
}