.box {
    .wrapper {
        width: 100%;
        max-width: px2rem(1024);
        margin: 0 auto;
    }

    .title {
        font-size: $base_fontsize;
        line-height: 1.2;
        color: $base_color;
    }

    .btn {
        @include button(360px, 5px 0, 5px, #333 , #333, #fff);
    }
}
