$base_fontsize: 24px;
$box_title_fontsize: 13px;
$section_title_fontsize: 30px;
$section_title_lineheight: 22px;
$section_title_color: #323C49;
$base_color: #000;
$base_fontfamily: 'Josefin Sans', 'sans serif';
$container_maxwidth: 1138px;

