* {
    padding: 0;
    margin: 0;
}

/* .body {
    position: relative;
} */

.container {
    max-width: 1440px;
    width: 100%;
}

.students-manager {
    display: flex;
}

.contents {
    margin: 1rem;
    padding: 1rem;

    border: 1px solid #e3e3e3;
    width: 100%;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    z-index: 1;

    background-color: red;
}



.menuDrop {

}

.menuDrop ul {
    transition-duration: 5000ms;
    height: 0;
    overflow: hidden;
}

.menuDrop ul.openMenu {
    min-height: 160px;
    max-height: 200px;
    overflow-y: auto;
}

.sign-in img {
    width: 240px;
}